{% extends 'base.html' %}

{% block header %}
    <div class="row">
      <div class="col-lg-6">
        <h1><u>New Question</u></h1>
      </div>
    </div>
{% endblock %}

{% block left-content %}
    <div class="row askme-main-content-settings">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4">
                  <p class="askme-main-content-settings-offset askme-main-content-ask-label1">Title:</p>
                  <p class="askme-main-content-settings-offset askme-main-content-ask-label2">Text:</p>
                  <p class="askme-main-content-settings-offset askme-main-content-ask-label3">Tags:</p>
                </div>
                <div class="col-lg-8">
                  <input class="askme-main-content-ask-title askme-main-content-settings-offset" placeholder="Question`s title" type="title" class="form-control" id="Title" aria-describedby="emailHelp">
                  <input class="askme-main-content-ask-text askme-main-content-settings-offset" placeholder="Type here" type="text" class="form-control" id="Text" aria-describedby="emailHelp">
                  <input class="askme-main-content-ask-title askme-main-content-settings-offset" placeholder="Type your question`s tags splited by ," type="title" class="form-control" id="Tags" aria-describedby="emailHelp">
                  <button class="btn btn-info askme-btn askme-main-content-ask-button">Ask!</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom %}

{% endblock %}