{% extends 'base.html' %}

{% block header %}
    <div class="row">
      <div class="col-lg-6">
        <h1><u>New Question</u></h1>
      </div>
    </div>
{% endblock %}

{% block left-content %}
    <form method='post' action='{% url 'question_save' %}' >
    {% csrf_token %}
        <div class="row askme-main-content-settings">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                      <p class="askme-main-content-settings-offset
                       askme-main-content-ask-label1">{{ form.title.label }}</p>
                      <p class="askme-main-content-settings-offset
                       askme-main-content-ask-label2">{{ form.text.label }}</p>
                      <p class="askme-main-content-settings-offset
                       askme-main-content-ask-label3">{{ form.tags.label }}</p>
                    </div>
                    <div class="col-lg-8">
                        {{ form.title }}
                        {{ form.text }}
                        {{ form.tags }}
                      <button type="submit" class="btn btn-info askme-btn askme-main-content-ask-button">Ask!</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block bottom %}

{% endblock %}