    {%  extends 'base.html' %}

    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    {% block left-content %}
        {% include 'question_listing.html' %}
    {% endblock %}

    {% block bottom %}
        <div class="container-fluid ">
            <div class="row askme-pagination" style="">
                <div class="col-lg-1">
                <a class="btn btn-info askme-btn"{% if questions.has_previous %} href="?page={{ questions.previous_page_number }}" {% else %} disabled {% endif %}>◄</a>
                </div>
                <div class="offset-lg-9"></div>
                <div class="col-lg-2">
                    <a class="btn btn-info askme-btn"{% if questions.has_next %} href="?page={{ questions.next_page_number }}" {% else %} disabled {% endif %}>►</a>
                </div>
            </div>
        </div>
    {% endblock %}