{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col-lg-6">
      <h1 class="askme-login-offset"><u>Log In</u></h1>
    </div>
  </div>
  <p class="askme-login-warning">Sorry, wrong password!</p>
{% endblock %}

{% block left-content %}
    <div class="container">
      <div class="row askme-login-content">
        <div class="col-lg-4">
          <p class="askme-login-label1">Login: </p>
          <p class="askme-login-label2">Password: </p>
        </div>
        <div class="col-lg-8">
          <input class="askme-login-input" id="InputLogin" aria-describedby="emailHelp" placeholder="Enter Login">
          <input class="askme-login-input" type="password" id="InputPassword" placeholder="Password">
          <button class="btn btn-info askme-btn askme-login-input">Log in!</button>
          <button class="btn btn-info askme-btn askme-login-input">Create new account</button>
        </div>
      </div>
    </div>
{% endblock %}

{% block bottom %}
{% endblock %}