{% extends 'base.html' %}

{% block header %}
    <h1><u>Registration</u></h1>
    <p class="askme-login-warning askme-registration-offset">
    </p>
{% endblock %}

{% block left-content %}
    <div class="row askme-registration">
      <div class="col-lg-12">
          <form action="{% url 'make_new_user' %}" method="post">
              {% csrf_token %}
              <span style="color: white">{{ form.nick.label }}</span>
              {{ form.nick }}
              <div style="color: red">{{ form.nick.errors }}</div>
              <span style="color: white">{{ form.password.label }}</span>
              {{ form.password }}
              <div style="color: red">{{ form.password.errors }}</div>
              <span style="color: white">{{ form.repeat_password.label }}</span>
              {{ form.repeat_password }}
              <div style="color: red">{{ form.repeat_password.errors }}</div>
              <span style="color: white">{{ form.email.label }}</span>
              {{ form.email }}
              <div class="row">
              <button class="btn btn-info askme-btn askme-registration-btn">Register!</button>
              </div>
          </form>
      </div>
      </div>
{% endblock %}

{% block bottom %}
{% endblock %}