<div class="col-lg-4 askme-menu-bar">
        <h1 class="askme-menu-bar-top-offset"><u>Popular Tags</u></h1>
        <table class="table table-striped table-dark">
        <th scope="col">
        <p><a href={% url 'tag' 'C++' %}><span class="askme-menu-bar-tag">MySQL</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">C++</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">Perl</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">Firefox</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">Golang</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">PyCharm</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">CLion</span></a></p>
        <p><a href={% url 'hot' %}><span class="askme-menu-bar-tag">Chrome</span></a></p>
        </th>
        </table>
        <h1 class="askme-menu-bar-space2"><u>Best Members</u></h1>
        <table class="table table-striped table-dark">
        <th scope="col">
        <p><span class="askme-menu-bar-memb1-tag">Mr.Freeman</span></p>
        <p class="askme-menu-bar-space1"></p>
        <p><span class="askme-menu-bar-memb1-tag">Dr.House</span></p>
        <p class="askme-menu-bar-space1"></p>
        <p><span class="askme-menu-bar-memb1-tag">Linus Torvalds</span></p>
        <p class="askme-menu-bar-space1"></p>
        </th>
        </table>
</div>